# dot files and folders (except .gitignore itself)
.*
!.gitignore

# python
__pycache__/
*.pyc
*.pyo

# django
db.sqlite3
staticfiles/
media/

# data files
*.xlsx
*.xls
*.csv
*.pdf
*.dat
*.txt

# env
*.env
